body{
    background: #093d91;
}

#menu{
    background: #2c75ff;
}

h2{
    color: #fff;
}

#menu .marque{
    color: #000;
}

.titre{
    color: #000;
}

.barre{
    color: #fff;
}

.formulaire{
    background-color: #2b2c31;
}

.formulaire .label{
    color: #fff;
}

.formulaire .input{
    color: #000;
}

#btnPsX, #btnPsO{
    background-color: #000;
    color: #fff;
    display: block;
    margin: auto;
    margin-top: 6.5%;
    font-family: 'Oswald', sans-serif; 
    font-size: 38px;
    border-radius: 100%;
    border: none;
    height: 73px;
    width: 7%;
    outline: none;
    box-shadow: 0px 9px #474747;
}

@media screen and (min-width: 360px ) and (max-width: 539px){
    #btnPsX, #btnPsO {
        width: 14%;
        height: 46px;
        font-size: 26px;
    }
}