@import "libs/variables.scss";
@import "libs/responsive.scss";
@import "libs/mixins.scss";


html{
	height: 100%
}


body{
	font-family: 'Press Start 2P', cursive;
	background-color: #fefee2;
	height: 100%;
}

.navbar{
	.navbar-brand{
		@media #{$phone-se}{font-size: 19px;}
	}
	.nav-item{
		margin-left: 19px;
		font-size: 1vw;
		@media #{$phone}{font-size: 11px;}
		@media #{$phone-se}{font-size: 11px;}
		@media #{$tablet}{font-size: 15px;}
		.dropdown-menu{
			background-color: rgb(211, 204, 204) ;
			@media #{$phone}{width: fit-content;}
			@media #{$phone-se}{width: fit-content;}
			@media #{$tablet}{width: fit-content;}
			@media #{$tabletPro}{width: fit-content;}
			.dropdown-item{
				font-size: 8px;
				@media #{$tablet}{font-size:11px;} 
			}
		}
		
	}
}

#menu{
	background-color: #ee5253;
	@media #{$phone}{ display: none;}
	@media #{$phone-se}{display:none;}
	@media #{$tablet}{display:none;}
	#toggle{
		@include toggle;
	}
	.marque{
		color: black;
		margin-top: 17px;
		list-style-type: none;
		@media #{$phone}{
			text-align: left;
		}
		.consoles{
			margin-left: 25%;
			text-shadow: 1px 1px 10px black;
			@media #{$phone}{margin-left: 0;}
			@media #{$phone-se}{margin-left: -20px;}
			@media #{$tabletPro}{ margin-left: -26px;}
			.console{
				list-style-type: none;
				margin-top: 17px;
				a{
					@include lien;
				}
				@media #{$tabletPro}{font-size: 12px;}
			}
		}
	}
}

.vitrine{
	#toggle2{
		@include toggle;
		@media #{$desktop}{display: none;}
	}
	h2{
		@include titre;
	}
}

.produits{
	@include produits;
	img{
		width: 200px;
		height: 250px;
		@media #{$phone}{
			width: 100px;
			height: 140px;
		}
		@media #{$phone-se}{
			width: 100px;
			height: 140px;
		}
	}	
	p{
		margin-top: 10px;
		margin-bottom: 0px;
		width: 200px;
		font-size: xx-small;
		text-align: center;
		@media #{$phone}{
			font-size: 5px;
			width: 100px;
		}
		@media #{$phone-se}{
			font-size: 5px;
			width: 100px;
		}
	}
	button{
		font-size: 10px;
		width: 200px;
		@media #{$phone}{
			width: 100px;
			height: 20px;
			font-size: 5px;
		}
		@media #{$phone-se}{
			width: 100px;
			height: 20px;
			font-size: 5px;
		}
	}
}

/*Code css pour partie Inscription.html*/

.form_insc{
	#toggle2{
		@include toggle;
	}
	h2{
		@include titre;
	}
}

.formulaire{
	@include form;
	.button{
		display: flex;
		@include formatBtn;
	}
	@media #{$phone}{
		border-radius: 1px;
		-webkit-border-radius: 1px;
		-moz-border-radius: 1px;
		-ms-border-radius: 1px;
		-o-border-radius: 1px;
		box-shadow: none;
	}
	@media #{$phone-se}{
		border-radius: 1px	;
		-webkit-border-radius: 1px	;
		-moz-border-radius: 1px	;
		-ms-border-radius: 1px	;
		-o-border-radius: 1px	;
		box-shadow: none;
}
	@media #{$tablet}{
		border-radius: 1px	;
		-webkit-border-radius: 1px	;
		-moz-border-radius: 1px	;
		-ms-border-radius: 1px	;
		-o-border-radius: 1px	;
		box-shadow: none;
	}
	#messages{
		display: none;
		margin-top: 20px;
		text-align: center;
		@media #{$phone}{font-size : 10px;}
		@media #{$tablet}{font-size: 15px;}
		@media #{$tabletPro}{font-size: 11px;}
	}
	#plateformes{
		font-size: 16px;
		@media #{$phone}{
			width: 100%;
		}
	}
}

