html {
  height: 100%;
}

body {
  font-family: "Press Start 2P", cursive;
  background-color: #fefee2;
  height: 100%;
}

@media screen and (width: 320px) {
  .navbar .navbar-brand {
    font-size: 19px;
  }
}
.navbar .nav-item {
  margin-left: 19px;
  font-size: 1vw;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .navbar .nav-item {
    font-size: 11px;
  }
}
@media screen and (width: 320px) {
  .navbar .nav-item {
    font-size: 11px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .nav-item {
    font-size: 15px;
  }
}
.navbar .nav-item .dropdown-menu {
  background-color: #d3cccc;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .navbar .nav-item .dropdown-menu {
    width: fit-content;
  }
}
@media screen and (width: 320px) {
  .navbar .nav-item .dropdown-menu {
    width: fit-content;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .nav-item .dropdown-menu {
    width: fit-content;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .navbar .nav-item .dropdown-menu {
    width: fit-content;
  }
}
.navbar .nav-item .dropdown-menu .dropdown-item {
  font-size: 8px;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .navbar .nav-item .dropdown-menu .dropdown-item {
    font-size: 11px;
  }
}

#menu {
  background-color: #ee5253;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  #menu {
    display: none;
  }
}
@media screen and (width: 320px) {
  #menu {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  #menu {
    display: none;
  }
}
#menu #toggle {
  width: 1.5em;
  height: 1.5em;
}
#menu #toggle div {
  background: #000;
  width: 100%;
  height: 3px;
  margin: 4px auto;
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  #menu #toggle {
    display: none;
  }
}
#menu .marque {
  color: black;
  margin-top: 17px;
  list-style-type: none;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  #menu .marque {
    text-align: left;
  }
}
#menu .marque .consoles {
  margin-left: 25%;
  text-shadow: 1px 1px 10px black;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  #menu .marque .consoles {
    margin-left: 0;
  }
}
@media screen and (width: 320px) {
  #menu .marque .consoles {
    margin-left: -20px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  #menu .marque .consoles {
    margin-left: -26px;
  }
}
#menu .marque .consoles .console {
  list-style-type: none;
  margin-top: 17px;
}
#menu .marque .consoles .console a {
  text-decoration: none;
  color: white;
  transition-property: color;
  transition-duration: 0.5s;
}
#menu .marque .consoles .console a:hover {
  color: #fdcb6e;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  #menu .marque .consoles .console {
    font-size: 12px;
  }
}

.vitrine #toggle2 {
  width: 1.5em;
  height: 1.5em;
}
.vitrine #toggle2 div {
  background: #000;
  width: 100%;
  height: 3px;
  margin: 4px auto;
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .vitrine #toggle2 {
    display: none;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .vitrine #toggle2 {
    display: none;
  }
}
.vitrine h2 {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .vitrine h2 {
    font-size: 18px;
  }
}
@media screen and (width: 320px) {
  .vitrine h2 {
    font-size: 18px;
  }
}

.produits {
  margin-left: 5%;
  margin-top: 15px;
  transition: all 0.25s ease;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
}
.produits:hover {
  transform: scale(1.25);
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  -ms-transform: scale(1.25);
  -o-transform: scale(1.25);
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .produits {
    margin-left: 4%;
  }
}
@media screen and (width: 411px) {
  .produits {
    margin-left: 7%;
  }
}
@media screen and (width: 320px) {
  .produits {
    margin-left: 12%;
  }
}
@media screen and (width: 375px) and (height: 667px) {
  .produits {
    margin-left: 5%;
  }
}
@media screen and (width: 414px) and (height: 736px) {
  .produits {
    margin-left: 7%;
  }
}
@media screen and (width: 375px) and (height: 812px) {
  .produits {
    margin-left: 5%;
  }
}
@media tablet {
  .produits {
    margin-left: 7%;
  }
}
.produits img {
  width: 200px;
  height: 250px;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .produits img {
    width: 100px;
    height: 140px;
  }
}
@media screen and (width: 320px) {
  .produits img {
    width: 100px;
    height: 140px;
  }
}
.produits p {
  margin-top: 10px;
  margin-bottom: 0px;
  width: 200px;
  font-size: xx-small;
  text-align: center;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .produits p {
    font-size: 5px;
    width: 100px;
  }
}
@media screen and (width: 320px) {
  .produits p {
    font-size: 5px;
    width: 100px;
  }
}
.produits button {
  font-size: 10px;
  width: 200px;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .produits button {
    width: 100px;
    height: 20px;
    font-size: 5px;
  }
}
@media screen and (width: 320px) {
  .produits button {
    width: 100px;
    height: 20px;
    font-size: 5px;
  }
}

/*Code css pour partie Inscription.html*/
.form_insc #toggle2 {
  width: 1.5em;
  height: 1.5em;
}
.form_insc #toggle2 div {
  background: #000;
  width: 100%;
  height: 3px;
  margin: 4px auto;
}
@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .form_insc #toggle2 {
    display: none;
  }
}
.form_insc h2 {
  text-align: center;
  margin-top: 20px;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .form_insc h2 {
    font-size: 18px;
  }
}
@media screen and (width: 320px) {
  .form_insc h2 {
    font-size: 18px;
  }
}

.formulaire {
  display: block;
  margin: auto;
  margin-top: 5%;
  font-size: 20px;
  background-color: #474747;
  padding: 20px 15px 20px;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  box-shadow: 12px 12px 2px 1px #8d8b8b;
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .formulaire .form-group {
    margin-top: 35px;
  }
}
.formulaire label {
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #aaa9a9;
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formulaire label {
    margin-top: 50px;
  }
}
.formulaire input {
  color: black;
  background-color: rgba(236, 204, 104, 0.3);
  box-shadow: inset 5px 5px #8d8d8b;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .formulaire input {
    font-size: 13px;
    text-align: center;
  }
}
@media screen and (width: 320px) {
  .formulaire input {
    font-size: 8px;
    text-align: center;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formulaire input {
    margin-top: 50px;
    text-align: center;
  }
}
.formulaire #messages {
  display: none;
  margin-top: 20px;
  text-align: center;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .formulaire #messages {
    font-size: 10px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formulaire #messages {
    font-size: 15px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .formulaire #messages {
    font-size: 11px;
  }
}
.formulaire #plateformes {
  font-size: 16px;
  width: 100%;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .formulaire #plateformes {
    font-size: 13px;
  }
}
.formulaire #commentaire {
  width: 100%;
  font-size: 16px;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .formulaire #commentaire {
    font-size: 15px;
  }
}
.formulaire .button {
  display: flex;
}
.formulaire .button .valid, .formulaire .button .reset {
  background-color: #555555;
  color: #fff;
  display: block;
  margin: auto;
  margin-top: 6.5%;
  font-family: "Oswald", sans-serif;
  font-size: 38px;
  border-radius: 100%;
  border: none;
  height: 73px;
  width: 7%;
  outline: none;
  box-shadow: 0px 9px #252525;
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .formulaire .button .valid, .formulaire .button .reset {
    width: 14%;
    height: 46px;
    font-size: 26px;
  }
}
@media screen and (width: 320px) {
  .formulaire .button .valid, .formulaire .button .reset {
    width: 14%;
    height: 46px;
    font-size: 26px;
  }
}
@media screen and (width: 414px) and (height: 736px) {
  .formulaire .button .valid, .formulaire .button .reset {
    height: 55px;
  }
}
@media screen and (width: 375px) and (height: 812px) {
  .formulaire .button .valid, .formulaire .button .reset {
    font-size: 16px;
    width: 13%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formulaire .button .valid, .formulaire .button .reset {
    width: 7%;
    height: 54px;
    font-size: 22px;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1366px) {
  .formulaire .button .valid, .formulaire .button .reset {
    width: 9%;
    height: 46px;
    font-size: 22px;
  }
}
@media screen and (min-width: 360px) and (max-width: 539px) {
  .formulaire {
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    box-shadow: none;
  }
}
@media screen and (width: 320px) {
  .formulaire {
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    box-shadow: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .formulaire {
    border-radius: 1px;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
    box-shadow: none;
  }
}

#btnXboxA {
  display: none;
}

/*# sourceMappingURL=main.css.map */
